body{
    background: url(https://image.shutterstock.com/image-illustration/abstract-3d-technology-science-neon-260nw-1196135518.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    font-family: 'poppins';
    font-size: 62.5%;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color:#042949;
      }

     h1,
     h2 {
        margin-bottom: 1rem;
      }

      h1 {
        font-size: 5.4rem;
        color: #56a5eb;
        margin-bottom: 5rem;
      }

      h2 {
        font-size: 4.2rem;
        margin-bottom: 4rem;
        font-weight: 700;
        color: white;
      }
    
/* FLEX-BOX CONTAINER */
      .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80rem;
        margin: 0 auto;
      }
      
      .container > * {
        width: 100%;
      }
      
      .flex-column {
        display: flex;
        flex-direction: column;
      }
      
      .flex-center {
        justify-content: center;
        align-items: center;
      }
      
      .justify-center {
        justify-content: center;
      }
      
      .text-center {
        text-align: center;
      }
      
      .hidden {
        display: none;
      }

  /* BUTTONS */
  .btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.2rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
/* GAME PAGE */

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 50%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}